#episodes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.episode-container {
  max-width: 250px;
}

.episode-code {
  border: 1px solid red;
}

.episode-name {
  border: 1px solid green;
  height: 70px;
}

#episodes-search {
  width: 80%;
  display: block;
  margin: 0 auto;
  height: 20px;
}

#search-count {
  text-align: center;
}
