@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Proza+Libre&display=swap");

body {
  padding: 10px;
  background: rgb(207, 100, 48);
  background: linear-gradient(
    261deg,
    rgba(207, 100, 48, 1) 25%,
    rgba(150, 39, 69, 1) 47%,
    rgba(34, 3, 23, 0.9345938204383316) 88%
  );
  font-family: "Proza Libre", "League Spartan", sans-serif;
}

#episodes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.episode-container,
.show {
  max-width: 250px;

  align-items: center;
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: antiquewhite;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 10px;
}

.episode-image,
.show-image {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.episode-code {
  /* border: 1px solid red; */
  font-size: 20px;
  font-weight: 700;
}

.episode-name {
  /* border: 1px solid green; */
  height: 70px;
  line-height: 26px;
  font-size: 22px;
}

.episode-summary {
  line-height: 28px;
}
#search-count {
  text-align: center;
}

#episodes-search,
#select-input,
#select-show {
  width: 40%;
  display: block;
  /* margin: 20px auto; */
  height: 30px;
  text-indent: 10px;
  border-style: none;

  border-radius: 5px;

  background: rgb(255, 255, 255);
  background-color: antiquewhite;
  margin-bottom: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  margin: 0 auto;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
}

.inputs p {
  text-align: center;
  color: azure;
}
